#div
{
	width: 400px;
	height: 400px;
	/*background: green;*/
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	border: 2px solid gray;
}
#div-continer
{
	 width: 400px;
     height: 500px;
     position: absolute;
     top: -100px;
     left: 0;
     /*border-collapse:collapse;	*/
    /* background: pink;*/
}
.row
{
	width: 400px;
	height: 100px;
}
.cell-black
{
	width: 100px;
	height: 100px;
	background: black;
	float:left;
}
.cell-white
{
	width: 100px;
	height: 100px;
	background: white;
	float:left;

}
.cell-red
{
	width: 100px;
	height: 100px;
	background: red;
	float:left;
}
#score
{
	text-align: center;
}
h2
{
	text-align: center;
}
#div-btn
{
	margin: 10px auto;
	width: 80px;
}
#excellent
{
	width: 100px;
	height: 100px;
	margin:0 auto;
}
#excellent img
{
	width: 100px;
	height: 100px;
	display: none;
}